SUPABASE_URL=https://veeyeflchymvmebyefha.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZlZXllZmxjaHltdm1lYnllZmhhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0MDQyMDcsImV4cCI6MjA5Mzk4MDIwN30.6p8XBAPBoErJjsO2dASy7cEM2esWDI6qE4iquaNkMLI
